<!DOCTYPE html>
<html>
<head>
	<title>Profecient</title>
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/stylesheets/all.css"> 
  <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/classes.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/show-page.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/new-semester.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/new-assignment.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/calendar.css">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">  

  <script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-custom">
  <a class="navbar-brand" href="/dashboard"><i class="fas fa-apple-alt"></i> Profecient</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calendar">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/newsemester">New Semester</a>
      </li>
    </ul>
    <ul style="margin-right: 5%" class="nav navbar-right navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%=currentUser.username%>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/sign_out">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

