<%- include("../partials/header") %>

	<h1>Welcome to proficent</h1>
	<a class="btn btn-primary" href="">SignUp</a>
	<a class="btn btn-primary" href="">Login</a>
</body>
</html>

<%- include("../partials/footer") %>

