<!DOCTYPE html>
<html>
<head>
	<title>Profecient</title>

	<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

	<style type="text/css">
		.header .title{
			background-color: white;
			text-align: center;
			z-index: 1;
			margin-bottom: 0;
			color: #3185fc;
		}

		h1{
			margin-bottom: 0px;
		}

		.main-body{
			/*background: rgb(255,255,255);
			background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(49,133,252,1) 50%);
			background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(49,133,252,1) 50%);
			background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(49,133,252,1) 50%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#3185fc",GradientType=1);*/
			background-image: url(https://images.pexels.com/photos/3760323/pexels-photo-3760323.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
			left: 0;
			position: absolute;
			height: 100%;
			width:100%;
			background-size: cover;
			background-position: 50% 50%;
		    background-repeat: no-repeat;
			z-index: 0;
		}
	</style> 
</head>
<body>
	<div class="header">
		<div class="title">
			<h1><i class="fas fa-apple-alt"></i>Profecient</h1>
		</div>

	</div>
	<div class="main-body">
				
	</div>
</body>
</html>

<%- include("../../partials/footer") %>

