<!DOCTYPE html>
<html>
<head>
	<title>Profecient</title>
</head>
<body>

	<h1>Welcome to proficent</h1>
	<a class="btn btn-primary" href="/signup">SignUp</a>
	<a class="btn btn-primary" href="/login">Login</a>
</body>
</html>

<%- include("../../partials/footer") %>

