.blackText{
	color: #171D1C;
}

.blocks{
	margin-bottom: 20px;
}

.btn{
	border-radius: 25px;
	border: none;
}

.btn-primary{
	background-color: #171D1C;
}

.content{
	color: #E8F7EE;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 10px;
}

.className{
	background: inherit;
	color: #E8F7EE;
	margin-top: 5px;
	margin-left: 9px;
	padding-bottom: 5px;
}

.dayOfWeek{
	
	border-radius: 25px;
	
}

.dayOfWeek.True.homePage{
	background: #171D1C;
	color: #E8F7EE;
}

.dayOfWeek.False.homePage{
	background: rgba(23, 29, 28,.5);
	color: #E8F7EE;
}

.details{

}

.dropdown{
	border: none;
}

.dropdown:hover{
	color: #171D1C;
	cursor: pointer;
}

.homePage [class*="col-"]{
		padding-left: 1px;
		padding-right: 1px;
} 

.instructLoc{
	font-size: 1em;
	padding-left: 5px;
}

.jumbotron{
		background-color: #3185FC;
		border-radius: 100px;
    	margin: 8px 1% 10px 1%;
}


#new-assignment{
	padding-left: 7%;
}

.round{
	border-radius: 25px;
}

.row.week{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
}

span h5{
	display: inline;
}

.title{
		background-color: #171D1C;
		color: #3185FC;
		margin-top: 5px;
	    padding-top: 30px;
	    padding-bottom: 30px;
	    font-weight: 900;
	    border-radius: 25px;
}

.week .dayOfWeek.homePage{
	padding: 4px;
}

.week .dayOfWeek.homePage h5{
	font-size: .5em;
}

.week span:first-of-type{
	margin-top: 50px;
}