body{
	background: #3185FC;
	color: white;
	font-family: 'Bree Serif', serif;
}

.btn{
	width: 100%;
	background-color: #171D1C;
	margin-bottom: 0px;
}

form{
	margin: 40px 35% 0 35%;
}

form i{
	font-size: 10px;
	text-align: left;
	margin-top: 0px;
}

form input{
	margin-bottom: 10px; 
}

.login .container{
	text-align: center;
	margin-top: 25px;
}

.login .container h1, i{
	font-size: 50px;
}

form div{
	font-size: 10px;
	text-align: left;
}

#sign-up{
	font-size: 1rem;
	text-align: left;
	color: black;
	display: inherit;
}

#forgot-password{
	color: black;
    font-size: 1rem;
    float: right;
}