.dayOfWeek.False{
	background-image: linear-gradient(rgba(23, 29, 28,.5), rgba(224, 231, 255, .1));
	color: rgba(23, 29, 28,.5);
}
.dayOfWeek.True{
	background: #3185FC;
	color: #171D1C;
}

.row.week.showPage{
	margin-left: 160px;
	margin-top: 25px;
    margin-bottom: 50px;
}

.showPage [class*="col-"]{
	padding-left: 2px;
	padding-right: 2px;
}

.week .dayOfWeek.showPage{
	padding: 30px 30px 30px 30px;
	
}

.week .dayOfWeek.showPage h5{
	font-size: 20px;
}

	/*ASSIGNMENT TABLE*/
	.assignment-list{
		background-color: #171D1C;
		margin-left: 16%;
		margin-right: 16%;
		padding-top: 10px;
		padding-bottom: 10px;
		color: white;

		border-radius: 25px;
	}

	.assignment-list .row{
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 15px;
		margin-top: 15px;
		padding: .5% 0 0.5% 0;
		background-color: #3185FC;

		border-radius: 25px;

	}

	.assignment-list .assignment-list-header .row{
		margin-right: 50%;
    	padding: 17px 0px 17px 0;
	}

	.assignment-list .assignment-list-header h5{
		margin: 10% 0 10% 0;
    	font-size: 1.5em;
    	color: #171D1C;
    	font-weight: 700;
	}

	.assignment-list #due-over{
		background-color: red;
	}

	.assignment-list #due-today{
		background-color: orange;
	}

	.assignment-list #due-tomorrow{
		background-color: yellow;
	}

	.assignment-list #due-this-week{
		background-color: green;
	}

	.assignment-list #due-upcomming{
		background-color: lightgreen;
	}


	.assignment-list .col{
		text-align: center;
		vertical-align: center;
	}

	.assignment-list .col h2{
		font-size: 1.2em;
		margin-top: 6%;
	}

	.assignment-list .col h3{
		margin-top: 8%;
		font-size: 1em;
	}

	.assignment-list .col a{
		margin-top: 2%;
	}

	.assignment-list .col .details{
		text-decoration: underline;
		z-index: 1; 
		position: absolute;
	}

	.assignment-list .col .details-description{
		z-index: 2; 
		position: absolute;
		display: none;
		padding: 50px 50px 50px 50px;
		background-color: #171D1C;
		border-radius: 25px;
	}

	.details:hover + .details-description{
		display: block;
	}

	.row .col .btn-primary{
		margin: 9px 0px 0px 160px;
		background-color: #3185FC;
	}
	
	/*END OF ASSIGNMENT TABLE*/